// 全局css
@import './flex.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
/* 单行超出部分点点点 */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 去掉input在type="number"时右边的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

// 去掉移动端点击阴影
/*这一句是用来解决在安卓上的点击出现篮框问题*/
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
